{% extends 'baseWithNav.html' %}
{% block extra_style %}
<style>
    .checked {
        color: orange;
    }
</style>
{% endblock %}

{%block content%}
    <div class="container d-flex flex-column h-100" >
        <div class="flex-grow-1"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 jumbotron" style="background-color:transparent !important;">
                <div class="p-3 border border-primary" style="background-color:#fff;">
                    <form class="site-form" action="{% url 'reviews:review' %}" method="post">
                        {%csrf_token%}
                        <h2 class="h2 text-center" dir="rtl"> דרג/י אותנו </h2>
                        </br>
                        <div class="row d-flex flex-row">
                            <div class="flex-grow-1"></div>
                            <div class="col-10">
                                {{form.review_content}}
                                {% if form.review_content.errors %}
                                    {% for error in form.review_content.errors%}
                                        <p class="text-danger m-0">* {{error}}</p>
                                    {% endfor %}
                                {% endif %}
                                <div style="display:none;">
                                    {{form.rating}}
                                </div>
                                </br>
                                <span  onclick="starmark(this)" id="1one" style="font-size:35px;cursor:pointer;"  class="fa fa-star checked"></span>
                                <span  onclick="starmark(this)" id="2one"  style="font-size:35px;cursor:pointer;" class="fa fa-star checked"></span>
                                <span  onclick="starmark(this)" id="3one"  style="font-size:35px;cursor:pointer;" class="fa fa-star checked"></span>
                                <span  onclick="starmark(this)" id="4one"  style="font-size:35px;cursor:pointer;" class="fa fa-star checked"></span>
                                <span  onclick="starmark(this)" id="5one"  style="font-size:35px;cursor:pointer;" class="fa fa-star checked"></span>
                                <br/>
                                {% if form.rating.errors %}
                                    {% for error in form.rating.errors%}
                                        <p class="text-danger m-0">* {{error}}</p>
                                    {% endfor %}
                                {% endif %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <p class="text-danger m-0">* {{error}}</p>
                                    {% endfor %}
                                {% endif %}
                                </br>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"> דרג </button>
                            </div>
                            <div class="flex-grow-1"></div>
                        </div>
                    </form>
                    </br>
                </div>
            </div>
        </div>
        <div class="flex-grow-1"></div>
    </div>

<script>
    var count = 5;
    function starmark(item){
        count=item.id[0];
        var subid= item.id.substring(1);
        for(var i=0;i<5;i++){
            if(i<count){
                document.getElementById((i+1)+subid).style.color="orange";
            }
            else{
                document.getElementById((i+1)+subid).style.color="black";
            }
        }
        document.getElementsByName("rating")[0].value = count;
    }
</script>
{%endblock%}
