{% extends 'base.html' %}
{%block content%}
    <div class="container d-flex flex-column  h-100" >
        <div class="flex-grow-1"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 jumbotron" style="background-color:transparent !important;">
                <div class="p-3 border border-primary" style="background-color:#fff;">
                    <form class="site-form" action="/accounts/login" method="post">
                        {%csrf_token%}
                        <h2 class="h2 text-center" dir="rtl"> התחברות למערכת </h2>
                        </br>
                        <div class="row d-flex flex-row">
                            <div class="flex-grow-1"></div>
                            <div class="col-10">
                                <p dir="rtl" class="mb-0 text-right"> {{ form.email.label }} </p>
                                {{form.email}}
                                <p dir="rtl" class="mt-1 mb-0 text-right"> {{ form.password.label }} </p>
                                {{form.password}}
                                </br>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"> התחבר/י </button>
                            </div>
                            <div class="flex-grow-1"></div>
                        </div>
                    </form>
                    </br>
                    <div class="row text-center">
                        <a class="col-6" href="/accounts/signup" dir="rtl"> הירשם </a>
                        <a class="col-6" href="password-reset/" dir="rtl"> שכחת סיסמה? </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1"></div>
    </div>
{%endblock%}