{% extends 'baseWithoutLogout.html' %}
    {%block content%}
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="row">
        <div class="col-1 col-lg-4"></div>
        <div class="col-10 col-lg-4 jumbotron" style="border: solid 1px #0275d8; background-color:transparent !important;">
            <form class="site-form" action="/accounts/login" method="post">
                {%csrf_token%}
                <h4 class="display-4 text-center" style="rtl"> התחברות למערכת </h4>
                </br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        {{form.email}}
                        {{form.password}}
                        <button type="submit" class="btn btn-primary btn-lg btn-block"> התחבר/י </button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </form>
            </br>
            <div class="row text-center">
                <a class="col-6" href="/accounts/signup/"> Sign Up </a>
                <a class="col-6" href="/accounts/forgotPassword/"> Forgot Password? </a>
            </div>
        </div>
        <div class="col-1 col-lg-4"></div>
    </div>
{%endblock%}