{% extends 'base.html' %}
{% block content %}
<div class="container d-flex flex-column h-100" >
    <div class="flex-grow-1"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 jumbotron" style="background-color:transparent !important;">
                <div class="p-3 border border-primary" style="background-color:#fff;">
                    <form class="site-form" method="post">
                        {%csrf_token%}
                        <h2 class="h2 text-center" dir="rtl">שינוי סיסמא</h2>
                        </br>
                        <div class="row d-flex flex-row">
                            <div class="flex-grow-1"></div>
                            <div class="form-group text-right">
                                <p dir="rtl" class="mb-0 text-right"> סיסמא חדשה </p>
                                {{ form.new_password1}}
                                {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors%}
                                    <p class="text-danger m-0">* {{error}}</p>
                                {% endfor %}
                                {% endif %}
                                <p dir="rtl" class="mb-0 text-right"> אמת סיסמא חדשה </p>
                                {{ form.new_password2}}
                                {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors%}
                                    <p class="text-danger m-0">* {{error}}</p>
                                {% endfor %}
                                {% endif %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block mt-2"> שנה סיסמא </button> 
                            </div>
                            {% if form.email.errors %}
                            {% for error in form.email.errors%}
                                <p class="text-danger m-0">* {{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <div class="flex-grow-1"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex-grow-1"></div>
    </div>
</div>
{% endblock %}